.google-maps {
    position: relative;
    padding-bottom: 30%;  /* This is the aspect ratio */
    height: 0;
    overflow: hidden;
}
.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}
@media (max-width:600px) {
    body .google-maps {
        padding-bottom: 60%;
    }
}
@media (min-width: 992px) {
    body .google-maps {
        padding-bottom: 20%;
    }
}