.google-maps {
    position: relative;
    padding-bottom: 20%;  /* This is the aspect ratio */
    height: 0;
    overflow: hidden;
    margin: 20px 10px 10px;
}
.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}